.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
	margin: 20px;
}

.wrapper {
	width: 100% auto;
}

h1{
	font-family: sans-serif;
	font-size: 25px;
}

.boxes {
	border: 2px solid black;
	background-color: #D3D3D3;
	margin-bottom: 20px;
}

.boxhead {
	height: 100px;
}

.leftsidebar {
	width: 23%;
	height: 300px;
	float: left;

}

.middlecontent {
	width: 50%;
	height: 300px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}

.rightsidebar {
	width: 23%;
	height: 300px;
	float: right;
}