* {
	box-sizing: border-box;
}

body {
  color: #f0efef;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  color: #fff;
  float: left;
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

p {
  font-size: 20px;
}

header {
  background: #033048;
  padding: 25px 0;
  overflow: hidden;
}

header nav {
  float: right;
}

header nav ul {
	margin: 0;
  float: right;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  padding-top: 15px;
  font-size: 24px;
}
header nav ul li a {
  color: #f9e42e;
}

section h1 {
  font-size: 50px;
  font-weight: 800;
  margin-left: 20px;
  margin-bottom: 0;
}

form {
  float: left;
}

form fieldset {
  border: 0;
  margin: 0;
  padding-left: 0;
}

input:focus {
  outline: none;
}

input:active {
  outline: none;
}

.formLegend {
  border-bottom: 1px solid #DEDEDE;
  margin-top: 30px;
  margin-bottom: 20px;
}

.formLegend:first-child {
  margin-top: 0px;
}

.formLegend legend {
  font-size: 24px;
  font-weight: 300;
  padding: 10px 0;
}

.formFill {
  margin: 5px 0;
}

.formFill label {
  font-size: 24px;
  font-weight: 300;
}

.formFill input {
  width: 600px;
  font-size: 24px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin: 10px 0;
  display: block;
}

.formFill input:focus {
  border: 1px solid #9494E5;
}

.formIcons {
  background-repeat: no-repeat;
  background-position: center left 10px, top right;
}

.name {
  background-image: url(img/cd-icon-user.svg), url(img/cd-required.svg);
}

.company {
  background-image: url(img/cd-icon-company.svg), url(img/cd-required.svg);
}

.email {
  background-image: url(img/cd-icon-email.svg), url(img/cd-required.svg);
}

.projectDescription {
  background-image: url(img/cd-icon-message.svg), url(img/cd-required.svg);
}


.submitBtn {
  float: right; 
}

.submitBtn input {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 25px;
  background-color: #9494E5;
  padding: 20px 40px;
  margin: 15px 0 auto;
  border: 0;
  border-radius: 5px;
}

.submitBtn input:active {
  background-color: #4C4C4C;
  padding: 20px 30px;
}

/* -------------------------------- 

Form

-------------------------------- */

